#realestate2{
    color:blueviolet;
    background-color:black ;
    text-align: center;
    font-size: 200px;
    width:auto;
    height:auto;
}

#realestate{
   font-size: 20px;
   text-align: justify;
   text-align-last: justify;
   text-decoration: overline;
   text-decoration-color: blue;
   text-decoration-style:wavy;
   text-decoration-thickness: 1px;
   text-transform: capitalize;
   font-family: 'Oswald', sans-serif;;
    

}

p{
    font-size:40px;
    text-align: justify;
    text-align-last:justify;
    text-decoration:overline;
    text-decoration-style:dotted;
    text-decoration-color: cyan;
    text-decoration-thickness: 10px;
    text-transform:uppercase;
}

h1{
    font-size:100px;
    text-decoration:overline;
    text-decoration-color:red;
    color:blue;
    background-color: brown;
    height: auto;
    width:auto;
}


#realstate3{
    background-color:bisque;
    text-decoration:dotted;
}


